<nav class='navbar navbar-expand-lg navbar-dark fixed-top close m-2 rounded'>
  <div class='container-fluid'>
    <a class='navbar-brand fw-bold me-auto' href='/'>Redesigned System</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbar'
      aria-controls='navbar'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbar'>
      <ul class='navbar-nav d-flex ms-auto mb-lg-0 gap-2'>
        <li class='nav-item dropdown text-white'>
          <a class='navbar-brand me-auto fs-6 fw-bold' href='/home'>Home</a>
        </li>
        <li class='nav-item dropdown text-white'>
          <a
            class='navbar-brand me-auto fs-6 fw-bold'
            href='/dashboard'
          >Dashboard</a>
        </li>
        <li class='nav-item dropdown text-white'>
          <a
            class='navbar-brand me-auto fs-6 fw-bold'
            href='/workouts'
          >Workouts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{! NAVBAR TOGGLER FUNCTION }}
<script>
  document.querySelector('.navbar-toggler').addEventListener('click', ()=> {
  document.querySelector('.navbar').classList.toggle('close') })
</script>