<article id='cover-page' class='d-flex h-100 text-center text-white'>
  <div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
    <header class='mb-auto'>
      <div>
        <h3 class='float-md-center mb-0 fs-1'>
          <i class='bx bxs-vial bx-md'></i>Redesigned System
        </h3>
      </div>
    </header>

    <section class='px-3'>
      <h1>Fitness Tracker App</h1>
      <p class='lead fst-italic'>
        "Great things come from hard work and perseverance.
        <br />
        No Excuses."
        <span class='fs-6'>-Kobe Bryant</span>
      </p>
      <div class='lead'>
        <!-- LOGIN BUTTON ---------------------------------------------------------------- -->
        <a href='/home' role='button' class='text-decoration-none'>
          <button id='enter-button' class='btn btn-lg fw-bold' style='background-color: #ffe699'>
            Enter
          </button>
        </a>
      </div>
    </section>

    <footer class='mt-auto'>
      <p>
        Redesigned System, by
        <a href='https://github.com/mmehr1988' target='_blank' class='text-white'>Mehdi Mehrabani</a>.
      </p>
    </footer>
  </div>
</article>