
{{> --navBar}}

<article class="main-section">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 fw-bold fs-1">Fitness Tracker</div>
        </div>

        <div class="row align-items-center justify-content-center pb-2">

            {{> --createWorkout}}

        </div>
    </div>
</article>

<script src='/assets/js/api.js'></script>