@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

/* ------------------------------------------------------ */
/* REUSABLE ITEMS */
/* ------------------------------------------------------ */

.hidden {
  display: none;
}

/* ------------------------------------------------------ */
/* COVER PAGE */
/* ------------------------------------------------------ */
#cover-page {
  background-color: #81b9b9;
}

.cover-container {
  max-width: 42em;
}

#enter-button {
  width: 110px !important;
  height: 48px !important;
  border: none;
}

/* ------------------------------------------------------ */
/* NAVBAR */
/* ------------------------------------------------------ */
nav {
  background-color: #81b9b9;
}

.navbar.close ~ .main-section {
  padding-top: 80px;
  height: calc(100vh - 80px);
  width: 100%;
  transition: all 0.5s ease;
}

.navbar ~ .main-section {
  padding-top: 160px;
  height: calc(100vh - 160px);
  width: 100%;
  transition: all 0.5s ease;
}

/* ------------------------------------------------------ */
/* TOAST */
/* ------------------------------------------------------ */

/* TOAST = FAIL */
#toast-add-exercise {
  position: fixed;
  top: 80px;
  right: 0;
  width: 300px;
  z-index: 9999;
  background-color: hsl(0, 41%, 86%);
  color: hsl(0, 90%, 16%);
  border-radius: 0px;
  margin-right: 10px;
}

/* TOAST = SUCCESS */
#toast-add-exercise.success {
  position: fixed;
  top: 80px;
  right: 0;
  width: 300px;
  z-index: 9999;
  background-color: hsl(94, 40%, 86%);
  color: hsl(94, 90%, 16%);
  border-radius: 0px;
  margin-right: 10px;
}

/* ------------------------------------------------------ */
/* DASHBOARD PAGE */
/* ------------------------------------------------------ */
.dash-container-dropdown {
  justify-content: center !important;
  align-items: center !important;
}

.dash-update-btn {
  width: 140px !important;
}
